.recipeForm {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.tagsLabel {
  align-self: flex-start;
  line-height: 200%;
  border: 2px solid transparent;
}

.tagSection {
  column-gap: 0.5em;
  display: flex;
}

.verticalRadioButtons {
  align-self: flex-start;
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: 0.5em;
}
