.formInput {
  border: 2px solid transparent;
  column-gap: 1em;
  display: flex;
  line-height: 200%;
}

.formLabel {
  border: 2px solid transparent;
  grid-column: 1;
  line-height: 200%;
  white-space: nowrap;
}

.recipeForm {
  display: grid;
  grid-template-columns: min-content min-content auto;
  grid-template-rows: repeat(4, minmax(3em, auto));
}

.verticalRadioButtons {
  align-self: flex-start;
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0 1em;
  row-gap: 0.5em;
  white-space: nowrap;
}
