#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.pageTitle {
  text-align: left;
}

.tableHeader {
  font-size: 120%;
  font-weight: bold;
  max-width: 300px;
}

.tableCell {
  max-width: 300px;
  text-align: center;
}
